body{
    background-color: #F0F2E3;
}
/* Estilos del contenedor principal */
.contenedorPrincipal{
    background-color: white;
    width: 1100px;
    margin: 0 auto;
    padding: 2rem;
    
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: space-between;

}
/* Estilos generales */
h1{
    text-align: center;
    margin: 0;
    font-family: "Overpass Mono", sans-serif;
}
.titulos{
    font-family: 'Overpass Mono', sans-serif;
    font-size: 42px;
    text-align:  center;
}
p{
    margin: 0;
}
.Estatico p:hover{
    cursor: pointer;
}

/* Estilos de la barra del indice */
#Indice{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 80% 20px;
    grid-gap: 2rem
}
#barra{
    background-color: #69D2E7;
    border-radius: 20px;
}

.Estatico{
    font-family: 'Poppins';
    font-size: 20px;
    text-align: left;
    border-radius: 16px;
    -moz-border-radius: 16px ;
    -webkit-border-radius: 16px ;
    border: 1px solid #000000;

    margin-top: 25px;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Estatico ul{
    list-style: none;
    padding: 0;
} 
.Estatico ul li{
    
    padding: 1rem 0;
}

.Estatico ul li ul{
    padding: 0 15%;
}

/* Estilos del contenedor de texto */
.Info{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 20% 60%;
    justify-content: space-around;
    padding: 2rem;
}
.Texto{
    font-family: 'Montserrat';
    color: #666666;
    font-size: 24px;
    text-align: justify;
}