:root{
    --gris: #666666;
}
body{
    background-color: #F0F2E3;
}
/* Estilos generales */
.titulo{
    font-family: 'Overpass Mono', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

/* Estilos para el hero */
#hero{
    position: relative;
    width: 100%;
    height: 670px;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}
#hero img{
    position: absolute;
    width: 100%;
    max-width: 1800px;
    z-index: -1;
    filter: blur(8px);

}
#hero #textoHero{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid white;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Monoton';
    text-align: center;
}
#textoHero p:nth-child(1){
    color: #69D2E7;
    font-size: 72px;
    margin: 0;
}
#textoHero p:nth-child(2){
    font-size: 28px;
    margin: 0;
}
/* Estilos del contenedor principal */
#contenedor_principal{
    box-sizing: border-box;
    width: 1100px;
    margin: 0 auto;
    padding: 4rem;
    background-color: white;
}

/* Estilos para el contenedor inferior */
#pares{
    margin-top: 4rem;
    display: flex;
}

/* Estilos para las tarjetas de funciones */
.tituloFunc{
    font-family: 'Overpass Mono';
    font-size: 24px;
}
#funciones{
    flex: 0 1 50%;
}
#tarjetasFunc{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#tarjetasFunc .tarjeta .circulo{
    background-color: #A7DBD8;
    color: var(--gris);
}
#tarjetasFunc .tarjeta:nth-child(3n+1) .circulo{
    background-color: #69D2E7;
}

.circulo{
    width: 190px;
    height: 140px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta{
    box-sizing: border-box;
    flex: 1 1 50%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjeta .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta .cont p{
    text-align: justify;
    color: var(--gris);
}
.btnFunc{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 50px;

    background-color: #F38630;
    border-radius: 20px;

    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Estilos para la seccion de ultimas entradas del foro */
#foroEntradas{
    flex: 0 1 50%;
    box-sizing: border-box;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.entradaForo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenidoEntrada, .userEntrada, .datosEntrada{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.userEntrada{
    color: var(--gris);
    font-size: 14px;
}
#btnForoEntradas{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #69D2E7;
    border-radius: 30px;

    width: 160px;
    height: 50px;

    color: #666666;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}