#ventanaAlerta, #ventanaNice{
    margin: 0 auto;

    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    padding: 1.5rem;
    margin-bottom: 1rem;

    border-radius: 30px;
}
#ventanaAlerta{
    color: white;
    background-color: rgba(255, 0, 0, 0.6);
    border: 2px solid rgb(255, 0, 0);
}
#ventanaNice{
    color: #353232;
    background-color: rgba(21, 255, 0, 0.7);
    border: 2px solid rgb(0, 255, 0);
}