:root{
    --secundario: #F38630;
    --terciario: #69D2E7;
    --gris: #666666;
}
body{
    background-color: #F0F2E3;
}

/* Estilos del contenedor principal */
#contenedorPrincipal{
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    padding: 1rem;

}

/* Estilos para centrar el contenedor del formulario principal */
h1{
    font-family: "Overpass Mono", sans-serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 2rem;
}

/* Estilos del contenedor del formulario */
#contenedorForm{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

/* Clase que centra cada conjunto de datos a recopilar */
.conjuntoDatos{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

legend{
    font-size: 24px;
    font-family: 'Overpass Mono', sans-serif;
    margin-bottom: 2rem;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
option, textarea, input, select{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
input, select{
    padding: .2rem .5rem;
    border: 1px solid var(--gris);
    background-color: transparent;
    border-radius: 10px;
    height: 36px;
}
select, input[type=date] {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance: none;

    background: url("../../../assets/icons/keyboard_arrow_down-black-18dp.svg") no-repeat right;
}
/* Primer campo de datos */
#contData1{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2rem;

}
.camposEst{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: space-around;

    margin-bottom: 2rem;
}

/* Segundo campo de datos */
#contData2{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 2rem;
}

/* Tercer campo de datos */
#contData3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contData3 textarea{
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 1rem;
}

/* Boton para enviar resultados */
.btn_form{
    margin-top: 2rem;
    width: 200px;
    background-color: var(--secundario);
    border: none;
    border-radius: 2rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}
#contBtn{
    display: flex;
    justify-content: space-around;
}
#datoOtros{
    width: 550;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#otro{
    box-sizing: border-box;
    width: 45%;
    border: none;
    background-color: transparent;

    border-bottom: 1px solid var(--gris);
    padding: 0.2rem 0.5rem ;
}