#contBtnDesplegar{
    margin-bottom: 2rem;
}
#btnDesplegado{
    width: 80%;
    height: 2.5rem;
    background-color: #F38630;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
#filtros{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 2rem;
    display: none;
}
label{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #666666;
}
.contFiltro{
    margin: 1rem auto;
}
.tituloFiltro{
    text-align: center;
    font-family: 'Overpass Mono', sans-serif;
    font-size: 24px;

}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    -moz-appearance:none;
    -webkit-appearance:none;
    opacity:0;   
}
input[type=date] {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance: none;

    background: url("../../../assets/icons/keyboard_arrow_down-black-18dp.svg") no-repeat right;
}
/* Filtros de la zona de lineas */
#filtrosLineas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contFiltrosLineas{
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
}
#contFiltrosLineas .checkLinea{
    flex: 0 0 25%;
    display: flex;
    justify-content: space-around;
    margin: .5rem 0;
}
/* Filtros de fechas */
#fechas{
    display: grid;
    grid-template-areas: 
        "titulo titulo"
        "fecha1 fecha2";
    width: 80%;
}
#fechas input[type=name]{
    font-family: 'Poppins', sans-serif;
}
#fechas h2{
    grid-area: titulo;
}
#fechas #fecha1{
    grid-area: fecha1;
}
#fechas #fecha2{
    grid-area: fecha2;
}
#botonesFiltros{
    width: 40%;
    margin: 0 auto;
    margin-top: 4rem;
}
#botonesFiltros button{
    background-color: #F38630;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 20px;
}

/* Filtros de la zona de estaciones */
#contenedorEstaciones{
    display: flex;
    flex-wrap: wrap;
}
.opcSelectEst{
    padding: 0;
    flex: 0 0 25%;
    list-style: none;
    font-family: 'Poppins';
}
.opcSelectEst .nombreL{
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
}
.opcSelectEst .nombreEst{
    font-size: 1rem;
    margin-bottom: .5rem;
    
}