#contenedorPrincipal{
    width: 1100px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    padding: 2rem;
}
body{
    background-color: #F0F2E3;
}
h1{
    font-family: 'Overpass Mono';
    font-size: 24px;
    text-align: center;
}
#entrada{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: 
        "nombre user"
        "cont cont";
    border-bottom: 1px solid #666666;
}
#nick{
    grid-area: user;
    color: #353131;
}
#nombre{
    grid-area: nombre;
    font-size: 20px;
}
#contenido{
    grid-area: cont;
    text-align: justify;
    color: #353131;
}
#contBtnCrearComentario textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: .5rem;
}
#contBtnCrearComentario button{
    background-color: transparent;
    border: none;
}
.comentario{
    display: grid;
    grid-template-columns: 70% 20%;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
}
#btnCrearComentario{
    cursor: pointer;
}
#contenedorEntrada{
    width: 60%;
    margin: 0 auto;
    border: 1px solid #666666;
    border-radius: 20px;
    padding: 2rem;
    box-sizing: border-box;
}
#contBtnCrearComentario{
    display: flex;
    justify-content: space-around;
}