:root{
    --linea1: #F04E99;
    --linea2: #1874CD;
    --linea3: #AE9D27;
    --linea4: #6FB6AE;
    --linea5: #FFD101;
    --linea6: #D41319;
    --linea7: #E37222;
    --linea8: #00A261;
    --linea9: #5B2C2A;
    --lineaA: #9D549B;
    --lineaB: #00A261;
    --linea12: #B89D4C;
}

.linea1 .barra, .linea1 .circulosLaterales .circulo, .linea1 .circulo{
    background-color: var(--linea1);
}
.linea2 .barra, .linea2 .circulosLaterales .circulo, .linea2 .circulo{
    background-color: var(--linea2);
}
.linea3 .barra, .linea3 .circulosLaterales .circulo, .linea3 .circulo{
    background-color: var(--linea3);
}
.linea4 .barra, .linea4 .circulosLaterales .circulo, .linea4 .circulo{
    background-color: var(--linea4);
}
.linea5 .barra, .linea5 .circulosLaterales .circulo, .linea5 .circulo{
    background-color: var(--linea5);
}
.linea6 .barra, .linea6 .circulosLaterales .circulo, .linea6 .circulo{
    background-color: var(--linea6);
}
.linea7 .barra, .linea7 .circulosLaterales .circulo, .linea7 .circulo{
    background-color: var(--linea7);
}
.linea8 .barra, .linea8 .circulosLaterales .circulo, .linea8 .circulo{
    background-color: var(--linea8);
}
.linea9 .barra, .linea9 .circulosLaterales .circulo, .linea9 .circulo{
    background-color: var(--linea9);
}
.lineaA .barra, .lineaA .circulosLaterales .circulo, .lineaA .circulo{
    background-color: var(--lineaA);
}
.lineaB .barra, .lineaB .circulosLaterales .circulo, .lineaB .circulo{
    background-color: var(--lineaB);
}
.linea12 .barra, .linea12 .circulosLaterales .circulo, .linea12 .circulo{
    background-color: var(--linea12);
}
/*
    background: linear-gradient(90deg, rgba(240,78,153,1) 0%, rgba(240,78,153,0.40098037506018036) 100%);
*/