span[id^=contraer]{
    display: none;
}

/* Estilos del contenedor secundario */
#contenidoMapa{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-areas: 
        "mapa filtro"
        "acotaciones filtro";
}

/* Estilos del mapa */
#map {
    grid-area: mapa;
    width: 90%;
    height: 600px;
    margin: 1rem auto;
}

/* Estilos de los filtros */
#filtrosMapa{
    grid-area: filtro;
}
#filtrosMapa form{
    overflow-y: scroll;
    height: 90vh;
    display: flex; 
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.filtro{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}
#filtrosMapa h2{
    margin-bottom: 1rem;
}
/* Estilos encabezados */
.encabezadoFiltro{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.encabezado{
    margin: 0;
    font-family: "Overpass Mono";
    text-align: center;
}
.encabezadoFiltro h3{
    font-size: 20px;
    text-align: left;
    margin-bottom: 1rem;
}
.encabezadoFiltro .btnMostrarFiltro{
    background-color: transparent;
    border: none;

    height: 24px;
}
.encabezadoFiltro span{
    color: #666666;
    cursor: pointer;
}
.descripcion{
    margin: 0;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    color: #777777;
    margin-bottom: 1rem;
}
/* boton submit */
#aplicarFiltros, #btnReset{
    background-color: #F38630;
    padding: .7em 1rem;

    border: none;
    border-radius: 20px;

    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    cursor: pointer;
    margin-bottom: 2rem;
}

/* Filtros de las lineas */
.opc{
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.opc label{
    font-family: 'Poppins', sans-serif;
}
.opc input{
    margin-right: 1rem;
}

#OpcionesLineas, #OpcionesNum, #OpcionesEst{
    padding-left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: column;
    align-items: flex-start;
}
.opcSelectEst{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
}
.nombreL{
    font-family: 'Overpass Mono', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #666666;
}
/* Estilos acotaciones */
#acotaciones{
    grid-area: acotaciones;
}
#acotaciones h2{
    margin: 1rem 0;
}
#acotaciones ul li div[id^=color]{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
#color1{
    background-color: #008ac6;
}
#color2{
    background-color: #32fc32;
}
#color3{
    background-color: #7bf76a;
}
#color4{
    background-color: #fbff00;
}
#color5{
    background-color: #ff9e00;
}
#color6{
    background-color: #ff3600;
}
#color7{
    background-color: #000000;
}
#acotaciones ul li{
    width: 30%;
    display: flex;
    align-items: center;
}
#acotaciones ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}
